@import 'scss/variables';
@import 'sass-mq/mq';

@import 'scss/animations';

@import 'scss/home';
@import 'scss/tables';
@import 'scss/carousel';
@import 'scss/tabs';
@import 'scss/langs';
@import 'scss/typography';
@import 'scss/icons';
@import 'scss/menu';
@import 'scss/footer';

* {
  box-sizing: border-box;
}



a {
  color: $text-color;
}
button {
  cursor: pointer;
}
// * {
//   box-sizing: border-box;
// }


body {
  color: #222;
  background-color: $body-bg;
  //background: linear-gradient(to bottom, $body-bg, darken($body-bg, 10%));
  padding: 0;
  margin: 0;
  //font-family: 'Courier New', Courier, monospace;
  font-family: $ff-serif;
  
}




.logo {
  width: 128px;
  height: 128px;
  animation-name: logo;
  animation-duration: $animation-logo-duration;
  animation-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

.app {
  max-width: 800px;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & > div {
    //flex-grow: 1;
  }
}




.anim {
  animation: slide1 1s ease-in-out infinite;
  //display: inline-block;
}


//.flickity-viewport, .flickity-slider, .carousel-cell {
  // display: flex;
  // height: 100%;
  // flex-grow: 1;
//}





.social {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a {
    margin: 0 .5em;
  }
}

#google-reviews {
  h3 {
    display: none;
  }
}