footer {
  font-family: $ff-sans-serif;
  text-align: center;
  font-size: 80%;
  color: rgba(#222, .5);
  padding: 1rem;
  padding-top: 2rem;
  animation: $animation-ui;
  animation-delay: $animation-ui-delay-4;
}