
.tabs {
  display: flex;
  
  flex-direction: row;
  width: calc(100%);
  overflow-x: auto;
  
  //margin: calc(-1rem - 1px);
  border-bottom: 1px solid $text-color;
  body.fr & {
    border-color: $fr-bg;
  }
  body.en & {
    border-color: $en-bg;
  }
  body.it & {
    border-color: $it-bg;
  }
  position: relative;
  // margin-left: -1px;
  // margin-right: -1px;
  background-color: white;
  background-color: $body-bg;
  body.en & {
    background-color: $en-bg;
  }
  body.it & {
    background-color: $it-bg;
  }  
  &::-webkit-scrollbar {
    // display: none;
    // -ms-overflow-style: none;
  }
  animation: $animation-ui;
  animation-name: ui-top;
  animation-delay: $animation-ui-delay-3;
  
}
.tabs-container {
  padding-top: 2rem;
order: 3;
  position: sticky;
bottom: 0;
z-index: 10;
&::after {
  content: "";
  position:absolute;
  bottom: calc(100% - 2rem);left: 0;right: 0;
  height: 2rem;
  background: linear-gradient(to top, white, rgba(white, 0));
  // background: linear-gradient(to bottom, $body-bg, rgba($body-bg, 0));
  // body.en & {
  //   background: linear-gradient(to bottom, $en-bg, rgba($en-bg, 0));
  // }
  // body.it & {
  //   background: linear-gradient(to bottom, $it-bg, rgba($it-bg, 0));
  // }
}
  
  // &::after {
  //   content: '';
  //   position: absolute;
  //   right: -1rem;
  //   top: 0;
  //   bottom: 0;
  //   width: 1rem;
  //   background: linear-gradient(to left, $body-bg, transparent);
  // }
}
.tab {
  flex-grow: 1;
  border: 1px solid $text-color;
  body.fr & {
    border-color: $fr-bg;
  }
  body.en & {
    border-color: $en-bg;
  }
  body.it & {
    border-color: $it-bg;
  }
  border-bottom: none;
  padding: 1rem .5rem;
  background: transparent;
  cursor: pointer;
  border-top: none;
  text-transform: uppercase;
  font-size: 66%;
  //font-weight: bold;
  font-family: $ff-sans-serif;
  letter-spacing: -0.033em;


  & + & {
    border-left: none;
  }
}
.tab:first-of-type {
  //display: none;
  @media #{$mq-mobile-down} {
    // border-left: none;
    // border-top-left-radius: 1rem;
  }
}
.tab:last-of-type {
  //display: none;
  @media #{$mq-mobile-down} {
    // border-right: none;
    // border-top-right-radius: 1rem;
  }
}
.tab.active {
  background-color: $dark;
  // body.fr & {
  //   background-color: $fr-bg;
  // }
  // body.en & {
  //   background-color: $en-bg;
  // }
  // body.it & {
  //   background-color: $it-bg;
  // }
  color: white;
}