$padding-small: .5rem;
$padding-medium: .75rem;
$padding-base: 1rem;

$mq-breakpoints: (
    mobile:  320px,
    tablet:  480px,
    desktop: 980px,
    wide:    1300px
);


$container-max-width: 800px;
$mobile: 480px;

$mq-mobile-up: screen and (min-width: #{$mobile});
$mq-mobile-down: screen and (max-width: #{$mobile - 1});

$dark: #222;
$ff-sans-serif: 'Noto Sans', serif;
$ff-serif: 'Noto Serif JP', serif;
$text-color: #222;

$en-bg: #A0B7DD;

$body-bg: #C6E4E1;